@charset "UTF-8";

/* Configurações Gerais */

*{
    margin: 0px;
    padding: 0px;
}

:root{

    --azulCursoEmvideo:#233EFF ;
    --sombramentoTexto: #0d175c;
}

html, body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--azulCursoEmvideo);
    background-size: contain;
    background-repeat: no-repeat;
}

h1{
    color: whitesmoke;
    text-shadow: 2px 2px 0px var(--sombramentoTexto);
    padding: 10px;
}